/* Start variable */
:root {
    --main-color: #19c8fa;
    --medium-transition: 0.3s;
}
/* End variable */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    /* Test Element */
    -webkit-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    /* ------------ */
}

/* html {
    -webkit-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
} */

ul {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 750px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}
/* End Global Rules */
/* Start Frame Work */
/* End Frame Work */
/* Start Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header nav {
    display: flex;
    height: 95px;
}


.header nav:after {
    content: '';
    width: calc(100% - 15px);
    height: 1px;
    background-color: #a2a2a2;
    position: absolute;
    bottom: 0px;
    left: calc(0% + 7.5px);
}

.header nav ul {
    display: flex;
}

@media (max-width: 768px) {
    .header nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
    }
    /* Error here */
    .logo-bar:hover .header nav ul {
        display: flex;
    }
    /* ---------- */
    .header nav ul li a {
    font-size: 15px !important;
    margin: 13px 10px;
    }
}

.header nav ul li {
    display: flex;
    padding: 0px 10px;
    align-items: center;
    position: relative;
}

.header nav ul li a {
    color: white;
    font-size: 14px;
    transition: var(--medium-transition);
}

.header .logo-search {
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    border-left: 1px solid white;
    height: 40px;
    margin: auto;
    padding-left: 18px;
    margin-left: 20px;
}

.header nav ul li:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0%;
    left: 0%;
    z-index: 1;
    display: none;
}

.header nav ul li:hover a,
.header nav ul li:hover:after {
    display: flex;
    color: var(--main-color);
}

.header nav .active:after,
.header nav .active a {
    color: var(--main-color);
    display: flex;
}

.header nav ul li:hover:after,
.header nav .active {
    color: var(--main-color);
}

.header nav .logo-bar {
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
}
/* End Header */
body {
    background-color: black;
}